{% load static %}
<!--indiv game details html v2, 12.5.2023-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ object.title }}</title>
	<link rel="stylesheet" href="{% static 'style_indiv.css' %}">
</head>
<body>
	<nav>
        <div class="logo">
            <a href="{% url 'home' %}">Group 1</a>
        </div>
        <div class="nav-items">
            <a href="/">PictureHere</a>
            <a href="/">Profile</a>
            <a href="/">Logout</a>
        </div>
    </nav>

    <div class="game-cover">
        <img src="{{ object.images }}" class="image">
    </div>

    <div class="title">
        <h1>{{ object.title }}</h1>
    </div>

    <section>
        <div class="summary">
            <h2>Summary:</h2>
            <p>{{ object.summary }}</p>
        </div>
        <div class="buttons">
            {% include 'partials/collectionButtons.html' %}
        </div>
    </section>
    
    <div class="playing-users-container">
        <h3>Playing Users</h3>
        <div class="playing-users">
            <ul>
                {% for users in playing %}
                <img src="{{ users.currentUser.userprofile.profile_pic.url }}" width="128" height="128">
                <li><a href="{% url 'profile' users.currentUser.id %}">{{ users.currentUser }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
