{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    #col-sm-2{
        left: 0px;
        display: flex;
        justify-content: left;
    }
  </style>

</head>
  <body>

<h1> <img src="{{pageuser.profile_pic.url}}" width = 100px> {{pageuser.user.username}}</h1>
<h2>About: {{pageuser.about}}</h2>
<br>
<h3> <u>Collection</u> </h3> 
<br>
<div class="container-sm d-flex justify-content-center me-5">
  <div class="row">

    {% for entry in collection %}
        <div class="col-sm-2" data-bs-theme="dark">
          <div class="card h-100">
            <img src="{{ entry.games.images }}" class="card-img-top" onerror="this.onerror=null;this.src='https://static.thenounproject.com/png/504708-200.png';">
            <div class="card-body">
              <p class="card-text">{{ entry.games.title }}</p>
              <a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
</div>
<br>
<h3><u>Favorites</u></h3>
<br>
<div class="container-sm d-flex justify-content-center me-5">
	<div class="row">
		{% for entry in Favorite %}
		<div class="col-sm-2" data-bs-theme="dark">
		  <div class="card h-100">
			<img src="{{ entry.games.images }}" class="card-img-top" onerror="this.onerror=null;this.src='https://static.thenounproject.com/png/504708-200.png';">
			<div class="card-body">
			  <p class="card-text">{{ entry.games.title }}</p>
			  <a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
			</div>
		  </div>
		</div>
	{% endfor %}
  </div>
  </div>
  <br>
<h3><u>Currently Playing</u></h3>
<br>
<div class="container-sm d-flex justify-content-center me-5">
	<div class="row">
  
	  {% for entry in currentlyPlaying %}
		  <div class="col-sm-2" data-bs-theme="dark">
			<div class="card h-100">
			  <img src="{{ entry.games.images }}" class="card-img-top" onerror="this.onerror=null;this.src='https://static.thenounproject.com/png/504708-200.png';">
			  <div class="card-body">
				<p class="card-text">{{ entry.games.title }}</p>
				<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
			  </div>
			</div>
		  </div>
	  {% endfor %}
  </div>
  </div>
  <br>

  <h3><u>Completed</u></h3>
  <br>
  {% for entry in finished %}
  <div class="col-sm-2" data-bs-theme="dark">
	<div class="card h-100">
	  <img src="{{ entry.games.images }}" class="card-img-top" onerror="this.onerror=null;this.src='https://static.thenounproject.com/png/504708-200.png';">
	  <div class="card-body">
		<p class="card-text">{{ entry.games.title }}</p>
		<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
	  </div>
	</div>
  </div>
{% endfor %}
</div>
</div>
<br>







<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}
	.friends-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.person-add-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.friend-text{
		font-weight: 500;
		color: black;
	}
	.friends-btn{
		background-color: #cccccc;
		border-color: #cccccc;
		color: #000;
		font-weight: 500;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.card{
		border-radius: 12px;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
	.message-btn-text{
		font-weight: 500;
	}
</style>

<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="pfp" id="id_profile_image" src="{{pageuser.profile_pic.url}}">
		  		</div>
		  		<p class="mt-4 mb-1 field-heading">Email</p>
		  		{%  if is_self %}
		  			<h5>{{user.email}}</h5>
		  		{% else %}
		  			{% if hide_email %}
			  			<h5>**********</h5>
			  		{% else %}
			  			<h5>{{pageuser.user.email}}</h5>
			  		{% endif %}
			  	{% endif %}
		  		<p class="mt-4 mb-1 field-heading">Username</p>
		  		<h5>{{pageuser.user.username}}</h5>

		  		<!-- If Auth user is viewing their own profile -->

		  		{% if is_self %}
		  		<a  class="mt-4 btn btn-primary" href="{% url 'edit' request.user.id %}">Update</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>

		{% if request.user.is_authenticated %}
		<div class="d-flex flex-column mb-4">

			<!-- THEM to YOU -->
			{% if request_sent == 0 %}
			<div class="card m-2 p-4">
				<div class="d-flex flex-row align-items-center">
					<span class="friend-text align-items-center mr-2">Accept Friend Request</span>
					<span id="id_cancel_{{id}}" class="decline-friend-request material-icons p-1" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>cancel</span>
  					<span id="id_confirm_{{id}}" class="confirm-friend-request material-icons p-1" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>check</span>
				</div>
			</div>
			{% endif %}

			<div class="card m-2 px-4 pb-4">
				<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
				{% if is_friend == False and is_self == False %}
						<!-- You sent them a request -->
						{% if request_sent == 1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<button class="btn btn-danger" id="id_cancel_friend_request_btn">
								Cancel Friend Request
							</button>
						</div>
						{% endif %}
						<!-- No requests have been sent -->
						{% if request_sent == -1 %}
						<div class="d-flex flex-column align-items-center pt-4">
							<button class="btn btn-primary" id="id_send_friend_request_btn">
								Send Friend Request
							</button>
						</div>
						{% endif %}
				{% endif %}
					
					
				{% if is_friend %}
					<div class="dropdown pt-4 m-auto">
						<button class="btn btn-secondary dropdown-toggle friends-btn" type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Friends
						</button>
						<div class="dropdown-menu" aria-labelledby="id_friends_toggle">
							<a class="dropdown-item" href="#" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
						</div>
					</div>
				{% endif %}
				
				<!-- TODO -->
				<!-- Friend list link -->
		  		<div class="d-flex flex-column pt-4">
					<a href="#">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="material-icons mr-2 friends-icon">contact_page</span><span class="friend-text">Friends (0)</span>
						</div>
					</a>
				</div>

			</div>

			<!-- TODO -->
			{#% if friend_requests %#}
			<div class="card m-2 px-4 pb-4">
				<!-- Friend requests -->
		  		<div class="d-flex flex-column pt-4">
					<a href="#">
						<div class="d-flex flex-row align-items-center justify-content-center icon-container">
							<span class="material-icons mr-2 person-add-icon">person_add</span><span class="friend-text">Friend Requests (0)</span>
						</div>
					</a>
				</div>
			</div>
			{#% endif %#}

			{% if is_friend %}
				<div class="d-flex flex-row align-items-center btn btn-primary m-2 px-4" onclick="createOrReturnPrivateChat('{{id}}')">
					<span class="material-icons m-auto">
					message
					</span>
					<span class="message-btn-text m-auto pl-2">Message</span>
				</div>
			{% endif %}

		</div>
		{% endif %}

		
	</div>
</div>


<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

{% endblock content %}


</body>
</html>