<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Page</title>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="{% static 'profile.css' %}" rel="stylesheet" />
</head>
  
<body>



<div class = "wrapper">

	<div class="header">
	{% include 'snippets/header.html' %}
	</div>

	<div class="profilePic">
		<img class="d-block border border-dark rounded-circle img-fluid  profile-image" width = 200px,  alt="pfp" id="id_profile_image" src="{{pageuser.profile_pic.url}}">
	</div>
	
	<div class = "UserName">
		<h1> {{pageuser.user.username}}</h1>
	</div>

	<div class = "about">
		<h2> {{pageuser.about}}</h2>
		{% if is_self %}
	<a  class="mt-4 btn btn-primary" href="{% url 'edit' request.user.id %}">Update</a>
	<br>
	<a class="m-auto" href="{% url 'password_change' %}">Change password</a>

	{% endif %}
	</div>
	
	<div class = "Counters">
		<u><h2 >Collection</h2></u>
		<h2 id = "num">{{numCollection}}</h2>
	</div>

	<div class = "Counters2">	
		<u><h2>Completed</h2></u>
		<h2>{{numCompleted}} </h2>
	</div>
	


	
	
	<a class="icon-link icon-link-hover" href="#">View Collection<i class="bi bi-caret-right mod"></i></a>

	<br>

	<div class = "Collection">
		<u><p class="heading">Collection</p></u>
				<div class="row">
					<div class="d-flex justify-content-left me-5">
						{% for entry in collectionDisplay %}
						<div class="card h-150" style="width: 200px; padding: 3px; display: flex-wrap; background-color: white;">
								<img src="{{ entry.games.images }}" class="card-img-top" alt="Game Cover" >
								<div class="card-body body-mod">
									<h5 class="card-title" >{{ entry.games.title }}</h5>
									<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
								</div>
							</div>
						{% endfor %}		
					</div>
				</div>
			<a class="icon-link icon-link-hover" href="{% url 'fullCollection' request.user.id %}">View all games in Collection<i class="bi bi-caret-right mod"></i></a>
		</div>

	<div class = "Favorites">
	<u><p class="heading">Favorite Games</p></u>
			<div class="row">
				<div class="d-flex justify-content-left me-5">
					{% for entry in faveDisplay %}
					<div class="card h-150" style="width: 200px; padding: 3px; display: flex-wrap; background-color: white;">
							<img src="{{ entry.games.images }}" class="card-img-top" alt="Game Cover" >
							<div class="card-body body-mod">
								<h5 class="card-title" >{{ entry.games.title }}</h5>
								<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
							</div>
						</div>
					{% endfor %}		
				</div>
			</div>
		<a class="icon-link icon-link-hover" href="{% url 'favorites' request.user.id %}">View all games in Favorites<i class="bi bi-caret-right mod"></i></a>
	</div>


	<div class = "CurrentlyPlaying">
	<u><p class="heading">Currently Playing</p></u>
			<div class="row">
				<div class="d-flex justify-content-left me-5">
					{% for entry in currentDisplay %}
					<div class="card h-150" style="width: 200px; padding: 3px; display: flex-wrap; background-color: white;">
							<img src="{{ entry.games.images }}" class="card-img-top" alt="Game Cover" >
							<div class="card-body body-mod">
								<h5 class="card-title" >{{ entry.games.title }}</h5>
								<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
							</div>
						</div>
					{% endfor %}		
				</div>
			</div>
		<a class="icon-link icon-link-hover" href="{% url 'current' request.user.id %}">View all games in Currently Playing<i class="bi bi-caret-right mod"></i></a>
	</div>

	
	<div class = "Completed">
		<u><p class="heading">Completed</p></u>
				<div class="row">
					<div class="d-flex justify-content-left me-5">
						{% for entry in finishedDisplay %}
						<div class="card h-150" style="width: 200px; padding: 3px; display: flex-wrap; background-color: white;">
								<img src="{{ entry.games.images }}" class="card-img-top" alt="Game Cover" >
								<div class="card-body body-mod">
									<h5 class="card-title" >{{ entry.games.title }}</h5>
									<a href="{% url 'game' entry.games.id %}" class="stretched-link"></a>
								</div>
							</div>
						{% endfor %}		
					</div>
				</div>
			<a class="icon-link icon-link-hover" href="{% url 'finished' request.user.id %}">View all games in Completed<i class="bi bi-caret-right mod"></i></a>
		</div>
	
		
	<!--  
	
</div>  <!-- End of wrapper div class  -->

</body>
<script></script>
</html>