[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-rename-app = "*"
pillow = "*"
filters = "*"
psycopg2 = "*"

[dev-packages]
