{% load static %}
<style>
.button-solid {
    border: none;
}
button-solid:focus {
    border: none;
    outline: none;
}
</style>

<!-- Header -->
<div class="d-flex flex-column flex-lg-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

	<!-- MEDIUM+ SCREENS -->
	<div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
		<h5 class="mr-3 font-weight-normal justify-content-start">
			<a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
		</h5>
		<form class="search-bar justify-content-start">
			<input type="text" class="form-control" name="q" id="id_q_large" placeholder="Search...">
		</form>

		<div class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
					<div class="dropdown dropleft show p-2">
						<div class="d-flex flex-row">

							{% if request.user.is_authenticated %}
							<div class="dropdown">
								<button class="button-solid" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links"  src="{{request.user.userprofile.profile_pic.url}}" alt="pfp" width="40" height="40">
								</button>
							
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								  <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
								  <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
								</ul>
							  </div>
							</div>
						</div>
						
					</div>
							{% else %}
							<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links"  src="{{request.user.userprofile.profile_pic.url}}" alt="pfp" width="40" height="40">
							<a class="p-2 text-dark"href="{% url 'login' %}">Login</a>
							<a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
							{% endif %}	
			</nav>
		</div>
	</div>
	<!-- END MEDIUM+ SCREENS -->

