{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="{% static 'homepage.css' %}" rel="stylesheet" />
  </head>
  <body>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


      <!-- navbar fixed-top bg-body-tertiary -->
      <nav class="navbar navbar-dark bg-dark fixed-top navbar-mod" style="background-color: black">
        <div class="container-fluid">
          
          <div class="navbar-user">
          <img src="https://i.imgur.com/HHudSqz.png" height = 125px width = 255px alt="logo">
          <p class="user-text">Hello, {{ request.user }}</p>
          </div>

          <div class="navbar-links">
            {% if request.user.is_authenticated %}
            <a  class="navbar-brand line-profile" href="{% url 'profile' request.user.id %}"><span>Profile</span> </a>
            {% else %}
            <a  class="navbar-brand line-login" href="{% url 'login' %}"><span>Login</span></a>  
            {% endif %}
            <a  class="navbar-brand line-library" href="{% url 'library' %}"><span>Library</span></a> 
            
            <a  class="navbar-brand line-friends" href="#"><span>Friends</span></a> 
            </div>


          <!-- <div class="navbar-bottom-link">
            <a  class="navbar-brand navbar-bottom-link" href="#">All Games</a>
            <a  class="navbar-brand navbar-bottom-link" href="#">Browse By Console</a>
          </div> -->

          <div class="bottom-link">
          <a  style="font-size: 13px;" class="navbar-brand navbar-bottom-link" href="{% url 'gamerequest' %}">Request Game </a>
          {% if request.user.is_authenticated %}
          <a  style="font-size: 13px;" class="navbar-brand navbar-bottom-link" href="{% url 'logout' %}">Sign Out</a>
          {% else %}
          <a  style="font-size: 13px;" class="navbar-brand navbar-bottom-link" href="{% url 'register' %}">Register</a>
          <a  style="font-size: 13px;" class="navbar-brand navbar-bottom-link" href="{% url 'login' %}">Sign In</a>
          {% endif %}
          </div>
          <!-- <p>Full Catelog</p>
          <a  class="navbar-brand" href="#">Newest Games</a>
          <a  class="navbar-brand" href="#">Popular Games</a> -->
          
         
          <!-- rgb(31, 35, 38) -->
          <!-- bg-body-tertiary data-bs-theme="dark" -->
          <nav class="navbar navbar-search bg-transparent" >
            <form class="container-fluid" role="search" method="GET" action="{% url 'library' %}">
              <div class="input-group">
                <!-- <span class="input-group-text" id="basic-addon1">🔎</span> -->
                <input type="text" class="form-control input-mod" placeholder="Search game titles..." aria-label="Search" aria-describedby="basic-addon1" value ="{{ searched }}" name="searched">>
              </div>
            </form>
          </nav>
        </div>
      </nav>

      <h1>Random Games</h1>
      
      <div class="scrolling-wrapper">
      <!-- cards for popular games -->
      <div class="row">
      {% for games in results %}
      <div class="card h-150" style="width: 200px; padding: 3px; display: flex-wrap; background-color: white;">
        <img src="{{ games.images }}" class="card-img-top" alt="Game Cover" >
        <div class="card-body body-mod">
            <h5 class="card-title" >{{ games.title }}</h5>
            <a href="{% url 'game' games.id %}" class="stretched-link"></a>
        </div>
      </div> 
      {% endfor %}
      </div>
     </div> end of card decks

     <!-- link to more popular games -->
     <a class="icon-link icon-link-hover" href="#"> &nbsp&nbsp More <i class="bi bi-caret-right mod"></i></a>
    
   <!-- displays online friends profile image 
    <p class="user-online">Friends Online</p>


    <img class="friend" style="margin-left: 22%;" src="images/cardIMG.png" alt="Priofile image" />
    <img class="friend" style="margin-left: 1.5%;" src="images/cardIMG.png" alt="Profile image" />
    <img class="friend" style="margin-left: 1.5%;" src="images/cardIMG.png" alt="Profile image" />

    link to find friends 
    <a class="icon-link icon-link-hover friends-link" href="#">Look for friends<i class="bi bi-caret-right friendlink-mod"></i></a>
  -->
  </body>
</html>