{% extends 'main.html' %}
{% block content %}
{% if searched %}
    <br/>
    <h2>Search results for '{{searched}}'</h2>
    <br/>
    {% for games in results %}
        <div class="card mb-3" style="width: 1080px; height: 285px;">
            <div class="row g-0">
            <div class="col-md-3">
                <img src="{{ games.images }}" class="img-fluid rounded-start" style="width: 1080px; height: 283px;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ games.title }}</h5>
                <p class="card-text">{{ games.summary }}</p>
                <a href="{% url 'game' games.id %}" class="stretched-link"></a>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No searches</h1>
{% endif %}
{% endblock %}