body{
  background-color: rgb(31, 35, 38);
}

  .user-text{
    font-size: 25px;
    font-weight: 700;
    color: white;
    font-family: "Arial", sans-serif;
  }
.navbar-user{
    top: 5%;
    position: absolute;
}  


h1{
  margin-left: 22%;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
  margin-top: 6.5%;
}

input[type=text]::placeholder, 
input[type=text]:hover {
    color: white;
    font-family: "Arial", sans-serif;
  } 
 .input-mod {
    outline:none;
    box-shadow:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    border-radius: 15px;
    color: white;
    font-family: "Arial", sans-serif;
    border: 1px solid #DADBDD; 
  
    transition: .3s border-color;
  } 

.navbar-mod{  
    height: 100vh;
    width: 20%;
}

 .navbar-links{
  display: grid;
  margin-top: 5px;
  position: relative;
  top: -130px;

    /* padding-bottom: 1em; */

}
.navbar-bottom-link{
  font-size: 10px;
  margin-bottom: 0%;
}

.navbar-search{
  position: absolute;
  /* position: fixed; */
   /* margin-left: 200px; */
  border-radius: 25px;
  border: 2px;
  width:100%;
  margin-left: 200%;
  /* margin-right: 15%; */
  top: 4%;
  color:white;
}


input::placeholder{
  color: white;
}
.form-control{
  background: white;
  -webkit-background-clip: text;
}

/* 'Poppins', sans-serif */
.navbar-brand{
  /* position: sticky; */
  font-size: 16px;
  /* font-family: "Arial", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 5px;
  line-break: auto;
  color: white;

}
  /* anchor tag for about */
  .navbar-brand:hover{
    /* color: grey; */
    background: -webkit-linear-gradient(#07609B, #18DF96);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    text-decoration: none;
    /* margin-top: -80px; */
   }  
   .line-profile:hover::before{
      content: "Profile";
   }
   .line-favorites:hover::before{
    content: "Favorites";
  }
  .line-friends:hover::before{
    content: "Friends";
  }
  .line-library:hover::before{
    content: "Library";
  }
  .line-completed:hover::before{
    content: "Completed";
  }
  .line-login:hover::before{
    content: "Login";
  }
   .line-profile:hover span, 
   .line-friends:hover span, 
   .line-completed:hover span,
   .line-login:hover span,
   .line-library:hover span {
        display: none;
   }
   span{
    font-size: 12px;
   }

   .bottom-link{
    position: absolute;
    text-decoration: underline;
    padding: 1px 90px 0px 0;
    top: 95%;
    /* margin-top: 400px; */
   }
  /* a:focus,
  a:hover {
    text-decoration: none;
    color:  white;
  }   */
  

  
   /* a:hover {
    text-decoration: none;
    color: rgb(27, 45, 72, .8);
  }   */
  

  /* #usernameHolder{
    color: blue;
  } */

  /* card details */

 
  .card{
    margin-left: 1%;
    display: inline-block;
  }
.text-mod{
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 16px;
}

.scrolling-wrapper {
  margin-left: 450px;
  margin-top: 20px;
}
.scrolling-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.icon-link{
  margin-left: 13%;
  margin-top: 2%;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.icon-link:hover{
  color: grey;
}

.mod{
  margin-top: -8%;
}
.friendlink-mod{
  margin-top: -4.5%;
  /* display: block; */
}
.friends-link{
  position: absolute;
  margin-left: 2%;
  margin-top: 3.5%;
}

.user-online{
  margin-left: 22%;
  margin-top: 1.5%;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.friend{
   margin-top: .5%;
   /* margin-left: 22%; */
   border-radius: 50%;
   width: 7rem;
}

